:root {
    --primary-dark: #142159;
    --primary-default: #425DC7;
    --neutal-hight: #FFFFFF;
    --neutral-dark: #000000;
    --neutral-medium: #555555;
    --neutral-low: #333333;
    --primary-lightest: #F1F2F9;
    --feedback-helper: #F03460;
}

/* Estilização Main */
.main__bg-header {
    background-color: var(--primary-dark);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main {
    width: min(100%, 1440px);
    margin: auto;
    position: sticky;
    top: 64px;
    left: 0px;
    display: flex;
}

.main-content {
    width: min(100%, 1196px);
    height: 1662px;
    background-color: #ccc;
    position: sticky;
    top: 64px;
    left: 0px;
    padding: 16px 32px 32px 32px;
}

/* Estilização header */

.header {
    width: min(100%, 1440px);
    margin: auto;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    height: 64px;
    height: calc(64px- 100%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilização header-logo */

.header__logo {
    display: flex;
    align-items: center;
    gap: 0 12px;
    padding-left: 20px;
}

.header__logo-icon {
    padding: 8px 5px;
    background-color:var(--primary-lightest);
    border-radius: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.005em;
    color:var(--primary-default)
}

.header__logo-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:var(--neutal-hight)
}

/* Estilização header-menu*/

.header__menu {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding-right: 32px;
}

.header__menu-notification {
    position: relative;
}

.header__menu-notification--alert {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--feedback-helper);
    position: absolute;
    right: 20%;
}

.header__menu-perfil-link {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

.header__menu-perfil-name {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:var(--neutal-hight)
}

/* Estilização sidebar */

.sidebar {
    position: sticky;
    top: 64px;
    left: 0;
    width: min(100%, 244px);
    height: calc(100vh - 84px);
    border-right: 1px solid black;
}

/* Estilização sidebar-menu */

.sidebar__menu {
    margin: 16px 16px 86px 16px;
    
}

.sidebar__menu-item {
    width: min(100%, 212px);
    height: 48px;
    padding: 16px 14px 16px 12px;
    
}

.sidebar__menu-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__menu-icon-text {
    display: flex;
    align-items: center;
    gap: 0 16px;
    text-align: center;
}

.sidebar__menu-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: var(--neutral-low);
}

.sidebar__menu-drop-icon {
    color: var(--neutral-low);
}

.sidebar__menu-name--active {
    color: var(--primary-default);
}

/* Estilização Sidebar-CTA */

.sidebar__cta {
    width: min(100%, 212px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__cta-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

.sidebar__cta-text {
    display: block;
    width: min(100%, 180px);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.005em;
    margin-bottom: 16px;
}

.sidebar__cta-button {
    width: min(100%, 180px);
    height: 48px;
    background-color: var(--primary-default);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--neutal-hight);

}

/* Estilização information-bar */

.information-bar {
    width: min(100%, 1132px);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-default);
    border-radius: 8px;
}

.information-bar__itens {
    padding: 24px 0 24px 32px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.information-bar__text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--neutal-hight);
}

.information-bar__cta {
    display: block;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--neutal-hight);
    border: 2px solid #ffffff;
    padding: 8px 16px;
    border-radius: 8px;
}